<!DOCTYPE html>
<!--suppress ALL -->
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Добавить песню</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,800&display=swap" rel="stylesheet">
</head>
<body>
<aside>
	<div class="sidebar" id="sb">
		<button class="sidebar-toggle on-sidebar-btn" onclick="toggleSidebar()">
			<span class="bar top on-sidebar"></span>
			<span class="bar middle on-sidebar"></span>
			<span class="bar bottom on-sidebar"></span>
		</button>
		<div class="sb-btn-container">
			<a class="sidebar-btn" href="#" onclick="auth()" id="auth">
				Войти
			</a>
			<a class="sidebar-btn" href="themevoting.html">
				Голосование за темы
			</a>
			<a class="sidebar-btn" href="index.html">
				Голосование за песни
			</a>
			<a class="sidebar-btn" href="adminusers.html">
				Пользователи
			</a>
			<a class="sidebar-btn" href="adminvotings.html">
				Голосования
			</a>
			<!--<a class="sidebar-btn" href="oldvoting.html">
				Прошлые голосования
			</a>-->
		</div>
	</div>
	<div id="darken">

	</div>
</aside>
<header>
	<div class="container-fluid">
		<div class="row header">
			<div class="col-1">
				<button class="sidebar-toggle" id="sb-btn-head" onclick="toggleSidebar()">
					<span class="bar top"></span>
					<span class="bar middle"></span>
					<span class="bar bottom"></span>
				</button>
			</div>
			<div class="col title-container">
				<h1 class="h1 vote-title text-center">Здесь будет название</h1>
			</div>
		</div>
	</div>
</header>
<main>
	<section class="text-center">
		<form class="add-song">
			<div class="form-label-group add-song-input-container">
				<input type="text" id="input-song-title" class="form-control add-song-input"
				       name="title" placeholder="Название песни" required autofocus>
				<!--<label class="add-song-label bmd-label-floating" for="input-song-title">Название песни</label>-->
			</div>

			<div class="form-label-group add-song-input-container">
				<input type="text" id="input-song-author" class="form-control add-song-input"
				       name="author" placeholder="Исполнитель" required>
				<!--<label class="add-song-label" for="input-song-author">Исполнитель</label>-->
			</div>

			<div class="form-label-group add-song-input-container">
				<input type="text" class="form-control add-song-input" name="link" placeholder="Яндекс.Музыка, YouTube и т.п.">
			</div>

			<div class="form-label-group add-song-input-container">
				<input type="text" class="form-control add-song-input" name="cut" placeholder="Обрезка трека">
			</div>
			<button type="button" class="add-item-submit" onclick="sendData()">Добавить</button>
		</form>
		<div class="required-alert" id="required-alert">
			Пожалуйста, заполните поля названия и исполнителя
		</div>
	</section>
</main>
<!-- Load React. -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>

<!-- Load our React component. -->
<script src="../static/main.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
</body>
</html>