<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Звонки</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,800&display=swap" rel="stylesheet">
</head>
<body>
<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm header">
				<h1 class="h1 vote-title text-center">Здесь будет название</h1>
			</div>
		</div>
	</div>
</header>
<section class="text-center">
	<div class="search-panel">
		<form class="form-search">
			<div class="form-group">
				<input class="form-control search" type="search" placeholder="Найти песню">
			</div>
		</form>
		<a class="add-song-btn" href="addsong.html" target="_blank">
			<svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg"
			     xmlns:xlink="http://www.w3.org/1999/xlink">
				<g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g transform="translate(-1239.000000, -429.000000)" fill="#FFFFFF" id="Plus">
						<path d="M1260,429 C1261.10457,429 1262,429.895431 1262,431 L1262,446 L1277,446 C1278.10457,446
            1279,446.895431 1279,448 L1279,450 C1279,451.104569 1278.10457,452 1277,452 L1262,452 L1262,467
            C1262,468.104569 1261.10457,469 1260,469 L1258,469 C1256.89543,469 1256,468.104569 1256,467 L1256,452
            L1241,452 C1239.89543,452 1239,451.104569 1239,450 L1239,448 C1239,446.895431 1239.89543,446 1241,446
            L1256,446 L1256,431 C1256,429.895431 1256.89543,429 1258,429 L1260,429 Z"/>
					</g>
				</g>
			</svg>
		</a>
	</div>
	<div id="songs-container">

	</div>
</section>
<!-- Load React. -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>

<!-- Load our React component. -->
<script src="../static/index.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
</body>
</html>