/* header */

.header {
	background-color: #fcc000;
	height: 200px;
}

.title-container {
	position: relative;
	display: grid;
	z-index: 0;
}

.vote-title {
	font: 800 45px "Alegreya Sans SC";
	text-transform: uppercase;

	margin: auto;
}

@media (min-width: 576px) {
	.vote-title {
		font-size: 55px;
	}
}

@media (min-width: 768px) {
	.vote-title {
		font-size: 65px;
	}
}

/* search panel*/

.search-panel {
	display: flex;
	justify-content: center;
}

.form-search {
	display: inline-block;
	margin-top: 40px;
}

.search {
	height: 60px;
	width: 70vw;
	max-width: 500px;

	border: 2px solid #fcc000;
	border-radius: 3px;
	box-shadow: 0 3px 3px 0 rgba(252, 192, 0, 0.5) inset;
	font: 32px "Avenir Next";
}

.search:focus {
	border: 3px solid #fcc000;
	border-radius: 3px;
	box-shadow: 0 4px 4px 0 rgba(252, 192, 0, 0.5) inset;
}

.search::placeholder {
	color: #bbbbbb;
}

.add-song-btn {
	background-color: #fcc000;
	border-radius: 3px;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	margin: 40px 0 0 20px;
	width: 60px;
}

@media (max-width: 575.98px) {
	.add-song-btn {
		margin-left: 10px;
	}
}

/* songs */

.song {
	background-color: #4270ff;

	height: 90px;
	width: calc(70vw + 80px);
}

/* sidebar */

@media (max-width: 575.98px) {
	.header {
		height: 300px;
	}
	.title-container {
		margin-top: 50px;
	}
}

.sidebar {
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 2;
	top: 0;

	background: #4270ff;
	left: -300px;

	transition: left .5s;
}

.col-1 {
	padding: 0;
}

.sidebar-toggle {
	height: 50px;
	width: 60px;
	padding: 0;
	margin: 13px 0 0 13px;
	position: relative;
	z-index: 1;

	border: none;
	background: none;

	display: block;
}

.bar {
	display: block;
	background-color: #00167d;
	width: 60px;
	height: 7px;
	border-radius: 2px;
	margin: 12px auto 0 12px;
	padding: 0;
}

.on-sidebar-btn {
	margin-right: 37px;
	margin-left: auto;
}

.on-sidebar {
	background-color: #ffffff;
}

.on-sidebar.top {
	transform: translateY(19px) rotate(45deg);
}

.on-sidebar.bottom {
	transform: translateY(-19px) rotate(-45deg);
}

.on-sidebar.middle {
	width: 0;
}

.sb-btn-container {
	margin-top: 35px;
	border-top: #ffffff 2px solid;
}

.sidebar-btn {
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;

	font: 25px "Avenir Next";
	color: #ffffff;
	border-bottom: #ffffff 2px solid;
}

.sidebar-btn:hover {
	background-color: #ffffff;
	transition: background-color .4s, transform .4s ease-in, width .4s;

	color: #4270ff;
	font-weight: 600;
	text-decoration: none;
}

.darken {
	position: absolute;
	height: 100vh;
	width: 100vw;

	display: none;

	background-color: #262626;
	opacity: 40%;
	backdrop-filter: blur(10px);
}