.header {
	background-color: #fcc000;
	height: 200px;
}

@font-face {
	font-family: "Avenir Next";
	src: url('../src/avenirnext-regular-08.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Avenir Next";
	src: url('../src/avenirnext-medium-06.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Avenir Next";
	src: url('../src/avenirnext-italic-05.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

/* header */


.title-container {
	position: relative;
	display: grid;
	z-index: 0;
}

.vote-title {
	font: 800 45px "Alegreya Sans SC";
	text-transform: uppercase;

	margin: auto;
}

@media (min-width: 576px) {
	.vote-title {
		font-size: 55px;
	}
}

@media (min-width: 768px) {
	.vote-title {
		font-size: 65px;
	}
}

/* search panel*/

.search-panel {
	display: flex;
	justify-content: center;
}

.form-search {
	display: inline-block;
	margin-top: 40px;
}

.search {
	height: 60px;
	width: 70vw;
	max-width: 500px;

	border: 2px solid #fcc000;
	border-radius: 3px;
	box-shadow: 0 3px 3px 0 rgba(252, 192, 0, 0.5) inset;
	font: 32px "Avenir Next";
}

.search:focus {
	border: 3px solid #fcc000;
	border-radius: 3px;
	box-shadow: 0 4px 4px 0 rgba(252, 192, 0, 0.5) inset;
}

.search::placeholder {
	color: #bbbbbb;
}

.add-song-btn {
	background-color: #fcc000;
	border-radius: 3px;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	margin: 40px 0 0 20px;
	width: 60px;
}

@media (max-width: 575.98px) {
	.add-song-btn {
		margin-left: 10px;
	}
}

/* sidebar */

@media (max-width: 575.98px) {
	.header {
		height: 250px;
	}

	.title-container {
		margin-top: 50px;
	}
}

.sidebar {
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 2;
	top: 0;

	background: #4270ff;
	left: -300px;
	box-shadow: none;

	transition: left .5s;
}

.col-1 {
	padding: 0;
}

.sidebar-toggle {
	height: 50px;
	width: 60px;
	padding: 0;
	margin: 13px 0 0 13px;
	position: relative;
	z-index: 1;

	border: none;
	background: none;

	display: block;
}

.bar {
	display: block;
	background-color: #00167d;
	width: 60px;
	height: 7px;
	border-radius: 2px;
	margin: 12px auto 0 12px;
	padding: 0;
}

.on-sidebar-btn {
	margin-right: 37px;
	margin-left: auto;
}

.on-sidebar {
	background-color: #ffffff;
}

.on-sidebar.top {
	transform: translateY(19px) rotate(45deg);
}

.on-sidebar.bottom {
	transform: translateY(-19px) rotate(-45deg);
}

.on-sidebar.middle {
	width: 0;
}

.sb-btn-container {
	margin-top: 35px;
	border-top: #ffffff 2px solid;
}

.sidebar-btn {
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;

	font: 25px "Avenir Next";
	color: #ffffff;
	border-bottom: #ffffff 2px solid;
}

.sidebar-btn:hover {
	background-color: #ffffff;
	transition: background-color .4s, transform .4s ease-in, width .4s;

	color: #4270ff;
	font-weight: 600;
	text-decoration: none;
}

#darken {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;

	transition: opacity 0.5s;

	background-color: #000000;
	opacity: 0;
	backdrop-filter: blur(10px);
}

/* add-song */

.add-song {
	display: inline-block;
	margin-top: 40px;
}

.add-song-input-container {
	width: 80vw;
	max-width: 600px;
	margin-bottom: 20px;
}

@media (max-width: 575.98px) {
	.add-song-input-container {
		width: 90vw;
	}
}

.add-song-input {
	height: 60px;
	border: none;
	border-bottom: 3px solid #fcc000;
	border-radius: 3px;

	font: 25px "Avenir Next";
}

.add-song-input:focus {
	border: none;
	border-bottom: 3px solid #fcc000;
	border-radius: 3px;
	box-shadow: none;
}

.add-song-input:placeholder-shown {
	opacity: 50%;
}

.add-song-input:invalid {
	box-shadow: none;
	border: none;
	border-bottom: 3px solid #fc0100;
	border-radius: 3px;
}

.add-item-submit {
	height: 40px;
	width: 100px;
	margin: 10px auto;

	font: 18px "Alegreya Sans SC";

	background-color: #fcc000;
	border: none;
	border-radius: 3px;
}

.required-alert {
	display: none;

	color: #fc0100;
	font: 18px "Avenir Next";
}

/* song cards */

.songitems-container {
	margin-top: 0;
}

.songitem {
	/*background-color: #4270ff;*/
	background-color: #4270FF;
	/*background-color: #ac4f00;*/
	border-radius: 3px;

	margin: 6px auto;
	height: 90px;
	max-width: 580px;
	width: calc(70vw + 80px);
}

.songitem-info {
	display: inline-block;
	float: left;

	font-family: "Avenir Next", sans-serif;
	white-space: nowrap;
	width: 75%;
	overflow: auto;
	color: #ffffff;
}

.songitem-title {
	padding: 5px 0 0 10px;

	text-align: left;
	font-size: 30px;
}

.songitem-singer {
	padding: 5px 0 0 10px;

	text-align: left;
	font-style: italic;
	font-size: 20px;
}

@media (max-width: 575.98px) {
	.songitem {
		width: calc(70vw + 70px);
	}

	.songitem-title {
		font-size: 25px;
	}

	.songitem-singer {
		font-size: 20px;
	}
}

.like-button {
	display: inline-block;
	float: right;

	background: none;

	margin: 10px 20px 0 0;
	height: 50px;
	width: 50px;
}

.votes-count {
	font-family: 'Avenir Next', sans-serif;
	font-weight: 600;
	color: #ffffff;

	margin: auto 20px 5px auto;
	height: 20px;
	width: 50px;
}

.search-theme {
	width: calc(70vw + 80px)
}

.theme-title {
	padding: 10px 0 0 10px;

	text-align: left;
	font-size: 40px;
}

@media (max-width: 575.98px) {
	.theme-title {
		font-size: 30px;
	}
}

/* users */

.user-container {
	margin-top: 30px;
}

.user-item {
	border-radius: 3px;

	background-color: #4270ff;

	margin: 6px auto 10px;
	height: 60px;
	max-width: 580px;
	width: calc(70vw + 80px);
}

.user-info {
	display: inline-block;
	float: left;

	font-family: "Avenir Next", sans-serif;
	white-space: nowrap;
	width: 100%;
	height: 100%;
	overflow: auto;
	color: #ffffff;
}

.user-name {
	padding: 12px 0 0 10px;
	display: inline-block;

	text-align: left;
	font-size: 24px;
	float: left;

	color: #ffffff;
}

.user-buttons-container {
	max-width: 580px;
	width: calc(70vw + 80px);
	margin: 0 auto;
}

.user-button {
	height: 50px;
}

.user-button-left {
	float: left;
}

.user-button-right {
	float: right;
}

.user-ban, .user-promote {
	display: inline-block;
	width: calc(35vw + 35px);
	max-width: 285px;

	font-size: 24px;
	margin: auto 5px 10px 5px;
	padding: 6px 0;
	border-radius: 3px;

	transition: background-color .4s;
	background-color: #4270ff;
	color: #ffffff;
}

.user-ban:focus, .user-promote:focus, .sidebar-toggle:focus, .bar:focus, .add-item-submit:focus {
	outline: 0;
	border: none;
	box-shadow: none;
}

.user-ban:hover, .user-promote:hover {
	background-color: #4461d0;
	transition: background-color .4s;
}

@media (max-width: 575.98px) {
	.user-name, .user-promote, .user-ban {
		font-size: 20px;
	}
}

/* votings */

.new-voting {
	margin-bottom: 10px;

	background-color: #4270ff;
	color: #ffffff;
	border-radius: 3px;

	height: 50px;
	width: 200px;
	font: 18px "Avenir Next";
}

.new-voting:focus {
	outline: 0;
	border: none;
	box-shadow: none;
}

.new-voting-input-text {
	height: 50px;
	border: none;
	border-bottom: 3px solid #4270ff;
	border-radius: 3px;

	font: 22px "Avenir Next";
}

.new-voting-input-text:focus {
	border: none;
	border-bottom: 3px solid #4270ff;
	border-radius: 3px;
	box-shadow: none;
}

.new-voting-input-text:placeholder-shown {
	opacity: 50%;
}

.new-voting-input-text:invalid {
	box-shadow: none;
	border: none;
	border-bottom: 3px solid #4270ff;
	border-radius: 3px;
}

.voting-radio {
	background-color: #4270ff;
}

.new-voting-show {
	height: 60px;
	width: 300px;
}

.voting-item {
	background-color: #4270ff;
	border-radius: 3px;

	margin: 6px auto;
	height: 80px;
	max-width: 580px;
	width: calc(70vw + 80px);
}

.voting-info {
	display: inline-block;
	float: left;
	text-align: left;

	font-family: "Avenir Next", sans-serif;
	white-space: nowrap;
	width: 75%;
	overflow: auto;
	color: #ffffff;
}

.voting-title {
	font-size: 25px;
	margin-left: 10px;
	margin-top: 10px;
}

.voting-status {
	margin-left: 10px;
	font-size: 18px;
	font-style: italic;
}

@media (max-width: 575.98px) {
	.voting-title {
		font-size: 22px;
	}

	.voting-status {
		font-size: 15px;
	}
}

.delete_button {
	height: 30px;
	width: 50px;
}

.edit-option {
	display: none;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 20%;
}

.edit-button {
	color: #ffffff;
}

.close-button {
	float: right;
	margin-right: 10px;
	margin-top: -25px;
}

.edit-input {
	width: 80%;
	margin: 0 auto;
}